.large-header {
   position: relative;
   width: 100%;
   background: #0f0f0f;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
}

.demo .large-header {
   background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

.main-title {
   position: absolute;
   margin: 0;
   padding: 0;
   color: #ffffff;
   text-align: center;
   top: 50%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
   text-transform: uppercase;
   font-size: 4.2em;
   letter-spacing: 0.1em;
}

.main-title .thin {
   font-weight: 200;
}

@media only screen and (max-width: 768px) {
   .demo .main-title {
      font-size: 3em;
   }
}

.scroll-down{
   position: absolute;
   bottom: 1rem;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   flex-direction: column;
   align-items: center;
}

.mouse{
   width: .5rem;
   height: 1rem;
   border: 1px solid #fff;
   border-radius: 1rem;
   margin-bottom: .2rem;
   display: flex;
}

.mouse span{
   width: .25rem;
   height: .25rem;
   background-color: #fff;
   display: block;
   border-radius: 40%;
   margin: auto;
   animation: move-wheel 1s linear infinite;
}

.arrow span{
   display: block;
   width: .3rem;
   height: .3rem;
   border: 1px solid transparent;
   border-right-color: #fff;
   border-bottom-color: #fff;
   transform: rotate(45deg);
   animation: arrow-down 1s alternate infinite;
}

@keyframes move-wheel {
   0%{
      opacity: 0;
      transform: translateY(-1rem);
   }
    100%{
      opacity: 1;
      transform: translateY(1rem);
   }
}

@keyframes arrow-down {
   0%{
      opacity: 0;
      
   }

   25%{
      opacity: .25;
      
   }

   50%{
      opacity: .5;
     
   }

   75%{
      opacity: .75;
      
   }


    100%{
      opacity: 1;
      
   }
}


